body
{
	margin:0;
	pading:0;
}
#appleheading
{
	color:white;
	text-align:center;
	font-family:times new roman;
	font-size:40px;
	letter-spacing: 20px;
	padding:20px;
	background: rgba(0, 0, 0, 0.5);
	margin:9px 0px 9px 0px;
}
p
{
	margin-left:80px;
}
table
{
	border:0.1px grey;
	border-collapse: collapse;
}
.apple
{
	text-decoration:none;
	font-family: sans-serif;
	color:red;
	margin-left: 80px;
}
.apple:hover
{
	color:black;
	transition:ease 0.6s;
	text-decoration:none;
	text-shadow: 2px 2px 5px grey;
}
.appleimg
{
	width:300px;
	margin-left:43px;

}
th
{
	padding:30px;
}
#appleimg1
{
	width:250px;
	margin-left:43px;
}
#appleimg6
{
	width:200px;
	margin-left:43px;
}
#appleimg4
{
	width:250px;
	margin-left:43px;
}
#appleimg9
{
	width:230px;
	margin-left:43px;
}